html{
font-family: "Open Sans", cursive;
background: lightgrey;


}
h1{
	font-family: "Joti One", sans-serif;
	font-size: 50px;
	background: black;
	/*border: 6px solid black;*/
	width: 500px;
	margin: 20px auto 20px;
	text-align: center;
	color: white;
}
.body{
	
	margin: 0 auto;
	max-width: 900px;
	color: black;
	font-size: 1.5em;
}
#pic{
	float: right;
}
footer{
	color: white;
	background: black;
	font-size: 2em;
	width: 100%;
	text-align: center;
	margin: 0;
}

